<div id="relationship_form" class="last">
	<% unless current_user?(@user) %>
	  <% if current_user.receiving?(@user) %>
	    <%= render 'relationships/break_friend' %>
	  <% else %>
	    <%= render 'relationships/make_friend' %>
	  <% end %>
	<% end %>
</div>