<li class="span2" id="<%= ownership_item.id %>">
	<%= link_to image_tag("houses/house#{ownership_item.house_id+1}.jpg", class: "wide_image"), ownership_item %>
	<p class="center"><%= ownership_item.display_name %></p>	
</li>