<h3>World Events</h3>
<h4>Asia</h4>
<%= link_to image_tag("world1.jpg", class: "wide_image"), '#' %>
<h4>Europe</h4>
<%= link_to image_tag("world2.jpg", class: "wide_image"), '#' %>
<h4>Africa</h4>
<%= link_to image_tag("world3.jpg", class: "wide_image"), '#' %>